body{
    font: normal 15pt arial;
    background: linear-gradient( to top,  #473E66, #BD83B8, #F5D7DB, #F1916D);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: transparent;
   color: #06142E;
   border-radius: 10px;
   padding: 15px;
   width: 300px;
   margin: auto;
   box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
   text-align: center;
}

label {
    font: normal 15pt arial;
    color: #06142E;
}

.inputs {
    display: flex;
    flex-direction: column;
}

input {
    margin: 20px 0;
    font: normal 15pt arial;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 0.5px solid white; 
    outline: none;
}

input[type=button] {
    cursor: pointer;
}

label {
    display: block;
}

footer, header {
    color: #06142E;
    text-align: center;
    margin: 20px 0;
}
footer {
    font-style: italic;
}

@media (max-width: 426px) {
    .container{
        width: 250px;
        padding: 5px;
    }

    body {
        font: normal 12pt arial;
    }
}